@import url(fonts.css);
body {
    background-color: #E9E2D6;
    padding: 10px !important;
}

svg {
    max-width: 20px;
    display: inline-block;
    position: relative;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Augustea Open Regular';
}

p {
    font-family: 'Glacial Indifference Regular';
    font-size: larger;
}

a {
    font-family: 'Allrounder Monument Test Regular'
}

h1.virtualt {
    text-align: center;
    padding: 10px;
}

.alignFormat figure {
    float: left;
}

.alignFormat svg {
    float: right;
    margin: -6px;
}

.alignFormat p {
    display: flex;
}

.alignFormat figure.image.is-32x32 {
    margin-right: 10px;
}

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}

figcaption {
    background-color: #3C5F52;
    color: white;
    padding: 2px;
    text-align: center;
}

audio {
    width: 100px;
    height: 35px;
    position: fixed;
    float: right;
    z-index: 50;
    right: 6px;
    bottom: 10px;
}

section.walls {
    width: 175px;
    height: 35px;
    position: fixed;
    z-index: 50;
    left: 17px;
    bottom: 10px;
    background-color: #3c5f52;
    border-radius: 50px;
}

.walls a {
    color: white !important;
    padding: 3px 10px;
    border: 2px solid;
    border-radius: 50px;
    display: inline-flex;
    margin-left: 3px;
}

footer {
    padding: 30px 5px;
}