@import url(fonts.css);
body {
    background-color: #E9E2D6;
    padding: 10px !important;
}

svg {
    max-width: 20px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Augustea Open Regular';
}

p {
    font-family: 'Allrounder Monument Test Regular';
}