@import url(fonts.css);
body {
    background-color: #E9E2D6;
    padding: 10px !important;
}

svg {
    max-width: 20px;
    display: inline-block;
    position: relative;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Augustea Open Regular';
}

p {
    font-family: 'Glacial Indifference Regular';
    font-size: larger;
}

a {
    font-family: 'Allrounder Monument Test Regular'
}

h1.virtualt {
    text-align: center;
    padding: 10px;
}

footer {
    padding: 30px 5px;
}